@font-face {
    font-family: 'iranyekan';
    src:url('../font/Qs_Iranyekanmedium.ttf') format('truetype');
        
}
@font-face {
    font-family: 'iranyekanvbold';
    src:url('../font/Qs_Iranyekanbold.ttf') format('truetype');    
}
@font-face {
    font-family: 'Iranyekanextrabold';
    src:url('../font/Qs_Iranyekanextrabold.ttf') format('truetype');    
}