$headcolor:#FBFBFB;
$bordercolor:#C5C5C5;
$mainfont:'iranyekan';
$titlefont:'Iranyekanextrabold';
$maincolor:#C83232;
$archivecolor:#FFCACA;
$mainhovercolor:#9B2424;
$secondcolor:#3617F8;
$thirdcolor: #E37F09;
@mixin center{
    display: block;
    margin-right: auto;
    margin-left:auto;
}
@mixin mainhover{
    background: $mainhovercolor;
    transition: 0.5s;
}
main{
    @include center;
}
body{
    background-color: #fff;
    @include center;
}
a{
    text-decoration: none;
}
