$headcolor:#FBFBFB;
$bordercolor:#C5C5C5;
$mainfont:'iranyekan';
$titlefont:'Iranyekanextrabold';
$maincolor:#3617F8;
$archivecolor:#E3F6FB;
$mainhovercolor:#1f0c96;
$secondcolor:#C83232;
@mixin center{
    display: block;
    margin-right: auto;
    margin-left:auto;
}
@mixin mainhover{
    background: $mainhovercolor;
    transition: 0.5s;
}
main{
    @include center;
}
body{
    background-color: #fff;
}
a{
    text-decoration: none;
}
/* SCROLLER DESIGN */
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }  
  ::-webkit-scrollbar-thumb {
    background: $maincolor;
    border-radius: 20px;
    transition: 0.5s;
  }
  ::-webkit-scrollbar-thumb:hover {
    @include mainhover;
  }