@font-face {
  font-family: "iranyekan";
  src: url("../font/Qs_Iranyekanmedium.ttf") format("truetype");
}
@font-face {
  font-family: "iranyekanvbold";
  src: url("../font/Qs_Iranyekanbold.ttf") format("truetype");
}
@font-face {
  font-family: "Iranyekanextrabold";
  src: url("../font/Qs_Iranyekanextrabold.ttf") format("truetype");
}
main {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

body {
  background-color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.mobile-row {
  display: flex !important;
  flex-wrap: nowrap !important;
  overflow-y: scroll !important;
  width: 100%;
}

.sidebar {
  background-color: #FBFBFB;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-left: 2px solid #C5C5C5;
}
.sidebar .search-side {
  display: inline-flex;
}
.sidebar .search-side form {
  padding: 3px;
  margin-bottom: 13px;
  margin-top: 22px;
  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #C5C5C5;
}
.sidebar .search-side form input {
  border: none;
  padding: 4px;
  background-color: white;
  font-family: "iranyekan";
  font-size: 14px;
  width: 246px;
}
.sidebar .search-side form button {
  background: black;
  padding: 5px;
  border-radius: 10px;
  border: none;
}
.sidebar .search-side .look {
  background: #3617F8;
  padding: 5px;
  border-radius: 10px;
  border: none;
  height: 100%;
  margin-right: 10px;
  margin-top: 27px;
  transition: 0.5s;
}
.sidebar .search-side .look :hover {
  background: #1f0c96;
  transition: 0.5s;
}
.sidebar .archives {
  display: none;
}
.sidebar .archives a {
  display: none;
}
.sidebar .archives-mobile {
  background-color: #E3F6FB;
  padding: 10px;
  display: inline-flex;
  width: 100%;
  padding-right: 20px;
}
.sidebar .archives-mobile a {
  color: #535353;
  font-family: "iranyekan";
  font-weight: 800;
  font-size: 13px;
  width: 100%;
  margin-left: 30px;
}
.sidebar .archives-mobile a:hover {
  color: #3617F8;
  padding-bottom: 9px;
  border-bottom: 2px solid #3617F8;
}
.sidebar .contacts {
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.sidebar .contacts .users {
  display: inline-flex;
  padding-top: 15px;
  width: 100%;
  background-color: #FBFBFB;
  border-bottom: 2px solid #C5C5C5;
}
.sidebar .contacts .users img {
  margin-right: 15px;
}
.sidebar .contacts .users h3 {
  font-size: 16px;
  font-family: "Iranyekanextrabold";
}
.sidebar .contacts .users p {
  color: #535353;
  font-family: "iranyekan";
  font-weight: 400;
  font-size: 12px;
}
.sidebar .contacts .users .number {
  color: white;
  background-color: #3617f8;
  border-radius: 10px;
  padding-left: 0px;
  width: 65%;
  justify-content: center;
  text-align: center;
}
.sidebar .contacts .users .date {
  font-size: 11px;
  font-family: "Iranyekanextrabold";
  font-weight: 800;
}
.sidebar .contacts .users:hover {
  background-color: #E3F6FB !important;
}
.sidebar .last-row {
  display: inline-flex;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FBFBFB;
}
.sidebar .last-row .new-ticket-button {
  background: #E37F09;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.19);
  margin-top: 5px;
  color: white;
  position: fixed;
  bottom: 10px;
  padding: 14px 10px;
  font-family: "iranyekan";
  border-radius: 10px;
  border: none;
  margin-right: 20px;
}
.sidebar .last-row .new-ticket-button:hover {
  background: #b56405;
}

.content {
  padding-right: 0px !important;
}
.content .chat-head {
  background-color: #FBFBFB;
  display: inline-flex;
  padding: 3px;
  margin-bottom: 7px;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #C5C5C5;
  height: 81px;
}
.content .chat-head .right {
  width: 65%;
  display: inline-flex;
  float: right;
  justify-content: right;
}
.content .chat-head .left {
  width: 35%;
  display: inline-flex;
  float: left;
  justify-content: left;
}
.content .chat-head img {
  border-radius: 50px;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-right: 10px;
}
.content .chat-head h3 {
  margin-top: 25px;
  margin-right: 20px;
  font-size: 19px;
  font-family: "Iranyekanextrabold";
}
.content .chat-head .support-button {
  display: none;
  background: #C83232;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.19);
  height: 50px;
  margin-top: 15px;
  width: 130px;
  color: white;
  font-family: "iranyekan";
  border-radius: 10px;
  border: none;
  margin-left: 20px;
}
.content .chat-head .menu {
  margin-top: 15px;
  margin-left: 20px;
}
.content .chat {
  padding: 10px;
  height: 620px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.content .chat .message-left {
  display: inline-flex;
  margin-left: 10px;
  float: left;
}
.content .chat .message-left img {
  width: 46px;
  height: 46px;
  margin-bottom: 14px;
}
.content .chat .message-left p {
  background-color: #0D0D0D;
  color: white;
  font-family: "iranyekan";
  font-weight: 400;
  margin-left: 10px;
  border-radius: 15px;
  padding: 10px;
  font-size: 12px;
}
.content .chat .message-left p .time {
  position: relative;
  top: 14px;
  color: #bbb;
  font-size: 10px;
  margin: 2px;
}
.content .chat .message-left .reply {
  background: #414141;
  color: white;
  font-family: "iranyekan";
  font-weight: 400;
  margin-left: 10px;
  border-radius: 15px 15px 0px 0px;
  padding: 7px;
  position: relative;
  font-size: 12px;
  top: 10px;
  color: rgba(255, 255, 255, 0.3882352941);
}
.content .chat .message-left .rep-button {
  margin-left: 5px;
  margin-top: 12px;
}
.content .chat .message-right {
  display: inline-flex;
  margin-right: 10px;
  float: right;
  width: 100%;
}
.content .chat .message-right p {
  background-color: #5142A8;
  color: white;
  font-family: "iranyekan";
  font-weight: 400;
  margin-right: 10px;
  border-radius: 15px;
  padding: 10px;
  font-size: 12px;
}
.content .chat .message-right p .time {
  position: relative;
  top: 14px;
  color: #bbb;
  font-size: 10px;
  margin: 2px;
}
.content .chat .message-right img {
  width: 46px;
  height: 46px;
  margin-bottom: 14px;
}
.content .chat .message-right .reply {
  background-color: #3D3570;
  color: white;
  font-family: "iranyekan";
  font-weight: 400;
  margin-right: 10px;
  border-radius: 15px 15px 0px 0px;
  padding: 7px;
  position: relative;
  font-size: 12px;
  top: 10px;
  color: rgba(255, 255, 255, 0.6392156863);
}
.content .chat .message-right .rep-button {
  margin-right: 5px;
  margin-top: 12px;
}
.content .chat .nothing {
  border-radius: 36px;
  background: #F8F8F8;
  justify-content: center;
  text-align: center;
  width: 300px;
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}
.content .chat .nothing h3 {
  font-size: 16px;
  font-family: "Iranyekanextrabold";
  margin-top: 15px;
}
.content .chat .nothing p {
  color: #535353;
  font-family: "iranyekan";
  font-weight: 400;
  margin-top: 15px;
  font-size: 12px;
}
.content .chat .form {
  border-radius: 36px;
  background: #F8F8F8;
  justify-content: center;
  padding: 30px;
  width: 97%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.content .chat .form h3 {
  font-size: 16px;
  font-family: "Iranyekanextrabold";
  margin-top: 15px;
}
.content .chat .form p {
  color: #535353;
  font-family: "iranyekan";
  font-weight: 400;
  margin-top: 15px;
  font-size: 12px;
}
.content .chat .form .start-ticket {
  color: #535353;
  font-family: "iranyekan";
  font-weight: 400;
  margin-top: 15px;
  font-size: 15px;
}
.content .chat .form .start-ticket input {
  padding: 10px;
  flex-shrink: 0;
  width: 100%;
  border: 1px solid #979797;
  border-radius: 10px;
  margin-top: 15px;
}
.content .chat .form .start-ticket textarea {
  padding: 10px;
  flex-shrink: 0;
  width: 100%;
  border: 1px solid #979797;
  border-radius: 10px;
  margin-top: 15px;
}
.content .chat .form .start-ticket select {
  padding: 10px;
  color: #535353;
  flex-shrink: 0;
  margin-top: 15px;
  width: 100%;
  border: 1px solid #979797;
  border-radius: 10px;
}
.content .chat .form .start-ticket option {
  padding: 10px;
  flex-shrink: 0;
  width: 100%;
  border: 1px solid #979797;
  border-radius: 10px;
}
.content .chat .form .start-ticket button {
  background: #3617F8;
  padding: 11px;
  margin: 15px 0px;
  color: white;
  border-radius: 10px;
  border: none;
  font-family: "iranyekan";
  font-weight: 400;
  font-size: 15px;
  width: 100%;
}
.content .chat .form .start-ticket button:hover {
  background: #1f0c96;
  transition: 0.5s;
  background: #E37F09;
}
.content .send-message {
  display: none;
}
.content .send-message .sender {
  display: none;
}
.content .send-message .sender input {
  display: none;
}
.content .send-message .sender button {
  display: none;
}
.content .send-message-mobile {
  display: inline-flex;
  width: 100%;
  position: fixed;
  bottom: 9px;
  left: 10px;
}
.content .send-message-mobile .sender {
  padding: 3px;
  margin-bottom: 13px;
  margin-top: 22px;
  width: 100%;
  margin-right: 20px;
  background: #F3F3F3;
  border-radius: 10px;
  border: 1px solid #C5C5C5;
}
.content .send-message-mobile .sender input {
  border: none;
  padding: 4px;
  background: #F3F3F3;
  font-family: "iranyekan";
  font-size: 14px;
  margin-top: 20px;
  width: 200px;
}
.content .send-message-mobile .sender button {
  background: #3617F8;
  padding: 11px;
  margin: 10px;
  color: white;
  border-radius: 10px;
  border: none;
  font-family: "iranyekan";
  font-weight: 400;
  float: left;
  font-size: 15px;
}/*# sourceMappingURL=style-mobile.css.map */